.instructions-dropdown {
  cursor: pointer;
  float: right;
  margin-top: -500px;
  margin-right: -232px;
  font-family: 'Comfortaa';
}

.dropdown-btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  border: 1px solid white;
  -webkit-transition: all .5s ease-in-out;
}

.dropdown-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s ease-in-out;
}

.instructions-content {
  margin-top: 15px;
  display: none;
  position: absolute;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 210px;
  max-width: 150px;
  z-index: 1;
  width: 150px;
  border-radius: 20px;
}

.instructions-content > h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 30px 10px 10px 10px;
}

.instructions-list > li{
  padding: 10px;
  text-align: center;
  padding: 10px 30px 10px 30px;
  -webkit-transition: all .5s ease-in-out;
}

.instructions-list > li:last-child {
  margin-bottom: 0px;
}

.instructions-list > li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}