.stroke-selector {
  float: right;
  margin-top: -425px;
  margin-right: -232px;
  font-family: 'Comfortaa';
  height: 80px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  border: 1px solid white;
  -webkit-transition: all .5s ease-in-out;
}

.strokes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.thin-stroke {
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid white;
}

.medium-stroke {
  background-color: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 1px solid white;
}

.thick-stroke {
  background-color: black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid white;
}